@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Test
$test-1: red;

.test-1 {
  color: $test-1;
}


@media (wp-editor) {
    /* Style is ONLY in editor CSS */
    .editor-only-styles-from-app {
        color: blue;
    }
}

